* {
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  background-color: #f5f7fb !important;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.nav-scroller .nav {
  color: rgba(255, 255, 255, 0.75);
}

.nav-scroller .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  color: #6c757d;
}

.nav-scroller .nav-link:hover {
  color: #007bff;
}

.nav-scroller .active {
  font-weight: 500;
  color: #343a40;
}

.bg-purple {
  background-color: #6f42c1;
}
.user {
  color: red;
}

.post-foto {
  padding-bottom: 5px;
  align-self: stretch;
  width: 100%;
}

.btnout {
  border: none;
  background-color: transparent;
  padding: 0;
}

hr {
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.pagination {
  justify-content: center;
}

.h5 {
  padding-top: 10px;
}

.container {
  padding: 10px;
  width: 80%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  box-shadow: 0px 0px 6px #888;
}

.cards {
  padding: 10px;
  width: 40%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  box-shadow: 0px 0px 6px #888;
  margin: 5px auto 40px auto;
}

.form-group {
  padding-left: 200px;
  display: flex;
  align-items: center;
}

.form-group-1 {
  padding-left: 20px;
}

.form-group-date {
  padding-left: 30px;
}

.form-group-products {
  padding-left: 30px;
}

.table {
  padding: 10px;
  width: 80%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  box-shadow: 0px 0px 6px #888;
  margin: 5px auto 40px auto;
}

.tag {
  color: #6c757d;
}

.btn {
  display: flex;
  align-items: center;
}

.delete {
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(255, 0, 0);
  padding: 0;
  margin: 0;
}

.delete:hover {
  border-bottom: 1px solid rgb(255, 0, 0);
}

.container-start {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin-top: 40px;
}

.mes-vendas {
  padding: 10px;
  width: 100%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  box-shadow: 0px 0px 6px #888;
}

.mov {
  padding: 15px 40px;
  width: 60%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  box-shadow: 0px 0px 6px #888;
  margin: 10px;
}

.pizza {
  padding: 10px;
  width: 100%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  box-shadow: 0px 0px 6px #888;
  margin: 0px 10px 0px 10px;
}

.produtos {
  padding: 10px;
  height: 20%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  box-shadow: 0px 0px 6px #888;
  margin: 10px;
}

.stock {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.graphic {
  padding: 10px;
  width: 100%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  box-shadow: 0px 0px 6px #888;
  margin: 0px 10px 0px 10px;
}

.division-two {
  display: flex;
  flex-direction: column;
}

.division {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 10%;
  width: 100%;
  height: 70%;
}

.filtros {
  display: flex;
  margin: 0px;
}

.estoque-baixo .nav-item {
  list-style: none;
}

.container-fluid {
  width: 85%;
}

.navbar-nav .nav-item.dropdown .nav-link {
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-item.dropdown:hover .nav-link {
  background-color: #037171;
  color: white;
  border-radius: 20px;
}

.nav-item {
  font-size: 18px;
  margin: 8px;
}

.navbar-brand {
  font-size: 22px;
}

.container-1 {
  height: 90vh;
}

.card-1 {
  padding: 4px;
}

.filter {
  padding: 5px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  background-color: #037171;
  color: white;
}

.title {
  margin: 15px 450px 30px 200px;
}

.title-1 {
  margin: 15px 850px 30px 200px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 10px;
}

.pagination a,
.pagination span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50%;
  color: #555;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.pagination a:hover {
  background-color: #e0e0e0;
}

.pagination .current {
  background-color: #007bff;
  color: white;
  border: none;
}

.pagination .prev_page,
.pagination .next_page {
  font-size: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

.next {
}
